@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

*,
:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Inter", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --red-main: #dc2626;
  --red-secundary: #ef4444;
  --white: #fafafa;
  --black-bg: #171717;
  --black-secundary: #27272a;
  --transicao: ease-in-out 300ms
}

body {
  background: var(--black-bg);
}

main {
  padding: 20px;
  max-width: 640px;
  margin: 0 auto 64px;
}

a.prev,
a.next,
button[type="button"] {
  text-decoration: none;
  padding: 1rem;
  border-radius: 1rem;
  color: var(--white);
  border: solid 2px #27272a;
}

a.prev:hover,
a.next:hover,
button[type="button"] {
  background: #27272a;
  transition: var(--transicao);
}

.navigation {
  display: flex;
  margin-block: 1rem;
  justify-content: space-between;
}

button[type="button"] {
  margin-block: 2rem;
  margin-inline: auto;
}

.quiz-item {
  margin-top: 24px;
  border: 1px solid #27272a;
  border-radius: 6px;

  overflow: hidden;
}

.quiz-item h3 {
  padding: 16px 20px;
  color: #e2e8f0;

  display: flex;
  align-items: center;
  gap: 12px;

  background: var(--black-secundary);
}

.quiz-item h3:before {
  content: attr(data-id);

  background: var(--black-secundary);
  width: 28px;
  height: 28px;
  font-size: 12px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.quiz-item dl {
  padding: 20px 24px;

  display: grid;
  gap: 8px;
}

.quiz-item dl dt {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0;

  display: flex;
  align-items: center;
  gap: 8px;

  color: #e2e3f0;
}

input {
  all: unset;
  border: 1px solid #94a3b8;
  width: 1rem;
  height: 1rem;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

input:checked {
  border: 1px solid #dc2626;
}

input:checked:before {
  content: "";
  width: 0.625rem;
  height: 0.625rem;

  background-color: #dc2626;
  border-radius: 50%;
}

#acertos-div {
  text-align: center;
  background: var(--black-secundary);
  color: #e2e8f0;
  width: 100%;
  padding: 0.75rem;
}

dt.alternativa {
  background: #27272a;
  border-radius: 1rem;
  padding: 1rem;
  cursor: pointer;
}

#porcentagem-acertos {
  background: var(--black-secundary);
  width: 40rem;
  border-radius: 1rem;
  height: fit-content;
  padding: 2rem;
  color: var(--white);
  border: solid 2px var(--white);
  outline: solid 2px var(--red-main);
  margin: 2rem auto;
}

#close-btn>svg {
  fill: white;
  height: 1.5rem;
  width: 1.5rem;
}

#close-btn>svg:hover {
  transition: var(--transicao);
  cursor: pointer;
  fill: rgba(255, 255, 255,0.5);
}

#close-btn{
  padding: 0;
  margin: 0;
  align-self: flex-end;
}

.hidden {
  display: none;
}

#resposta {
  color: var(--white);
}

#responder, #reiniciar {
  background: var(--white);
  color: var(--red-main);
  padding: 1rem 3rem;
  border-radius: 1rem;
  margin: 1rem auto;
  border: none;
}

#responder:hover, #reiniciar:hover {
  cursor: pointer;
  transition: var(--transicao);
  background: #f4f4f4;
}

#responder:disabled, #reiniciar:disabled{
  cursor: not-allowed;
  background: #dddddd;
}

div>#responder {
  display: flex;
  margin-block: 2rem;
  justify-content: center;
  align-items: center;
}